<!DOCTYPE html>
<html>
<head>
    <title>Vaccination Records</title>
</head>
<body>
    <h1>Vaccination List</h1>
    <a href="{{ url_for('add') }}">Add New Record</a>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Vaccine</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
